.nav-cont {
    background-color: #d9c9bc;

    .logo-nav {
        width: 60px;
        
        img {
            width: 100%;
            border-radius: 100%;
        }
    }
}

ul {
    li {
        cursor: pointer;
    }
}